canvas{
  border: transparent;
}
main{
    width: 1100px;
    border: 1px solid black;
    background:linear-gradient(to right, rgb(61, 66, 72), rgb(10, 42, 75));
}
h1{
    text-align: center;
    font-size: 56px;
    margin-top: 10px;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
body{
    display: flex;
    justify-content: space-around;
}

#container{
    display: flex;
    flex-direction: row;
}
#left{
    display: flex;
    flex-direction: column;
    flex: 2;
    height: 770px;
}
#guess{
    margin-left: 20px;
    font-size: 68px;
    color: whitesmoke
}
#result{
    margin-left: 20px;
    font-size: 68px;
    margin-top: 150px;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
#buttons{
    border: transparent;
    height: 40px;
    flex: 1;
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 10px;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
}
button{
    background-color: whitesmoke;
    border: transparent;
    height: 40px;
    width: 40px;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 10px;
    margin-left: 10px;
    margin-top: 50;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #aaa;
    font-family: 'Times New Roman', Times, serif;
}

#restart{
    width: 110px;
    height: 50px;
    position: relative; 
    top: -100px;
    left: 0px;
}
#choose{
    width: 110px;
    height: 50px;
    position: relative; 
    top: -100px;
    left: 0px;
}

button:hover{
    background-color: rgb(216, 216, 226);
}
