body{
    background-color: aliceblue;
}
#d1{
    border: 5px black solid;
    margin: 20px;
    display: inline-block;
    background-color: antiquewhite;
}
#d2{
    border: 3px blue solid;
    margin: 2px;
    display: block;
    background-color: aliceblue;
}
h1{
    display: inline-block;
    margin: auto;
    width: 25%;
    height: 40px;
    text-align: center;
}
button{
    display: inline-block;
    margin: auto;
    margin-bottom: 5px;
    width: 12%;
    height: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 4px;
    border-color: gray;
    border-width: 4px;
}
canvas{
    margin: 10px;
    background-color: white;
}
#cvs{
    border: 5px black solid;
    margin: 2px;
    background-color: white;
}
img{
    display: none;
}
#cite{
    margin: 20px;
}

#link{
    margin: 20px;
    margin-bottom: 0px;
    background-color: white;
    z-index: 0;
    width: 100px;
    height: 30px;
    border: 1px rgb(70, 70, 70) solid;
    border:transparent;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cite{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  a:link, a:visited{
    color: rgb(98, 98, 98);
  }
  a:hover, a:active{
    color: black;
  }